// Place all the styles related to the Bookshelf controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0 20px;
}

.form {
  padding-top: 20px;
}

.alert-info i {
  color: #f00;
}
